.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.header button{
    border: none;
    padding: 7px;
    margin: 0 7px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 35px;
    transition: all 0.2s ease-in-out;
}
.header button:hover{
    transform: scale(1.2);
 }
.contacts{
    margin-top: 75px;
    padding: 25px;
    background-color: #cacbcd;
    width: 100%;
    border-radius: 15px;
    text-align: center;
    height: 400px;
    overflow-y: scroll;
}
::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}

