.contacts_item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    margin: 10px 5px;
    height: 50px;
}
.contacts_item p{
    flex-basis: 0;
    flex-grow: 1;
}
.contacts_item input{
    min-width: 217.5px;
}
.contacts_item button{
    border: none;
    margin: 0 5px;
    padding: 5px;
}
button{
    padding: 5px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
}